# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  push:
    branches: [ '*' ]
    tags: [ "v*" ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # Test the add-on
  build:
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 4
      matrix:
        # NOTE: When adding a new blender version also add the corresponding
        # python version below.
        sys:
        - { os: ubuntu-latest, shell: bash, os_tag: Linux }
        - { os: windows-latest, shell: msys2, os_tag: Windows }
        blender-version: [ 2.92, 2.93 ]
        include:
        - blender-version: 2.92
          sys.os: windows-latest
          python-version: 37/bin/python
        - blender-version: 2.93
          sys.os: windows-latest
          python-version: 39/bin/python
        - blender-version: 2.92
          sys.os: ubuntu-latest
          python-version: bin/python3.7m
        - blender-version: 2.93
          sys.os: ubuntu-latest
          python-version: bin/python3.9
    defaults:
      run:
        shell: '${{ matrix.os.shell }} {0}'
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      # Show what's there
      - uses: msys2/setup-msys2@v2
        if: ${{ matrix.sys.os == 'windows-latest' }}
        with:
          release: false
          install: |
            rsync
            zip
      - name: install packages
        shell: msys2 {0}
        if: ${{ matrix.sys.os == 'windows-latest' }}
        run: |
          rsync --help
          zip --help
      - name: show data
        run: |
          echo "blender version: ${{ matrix.blender-version }}"
          echo "os: ${{ matrix.sys.os }}"
          echo "python: ${{ matrix.python-version }}"
          echo "os_tag: ${{ matrix.sys.os_tag }}"
          echo "${{ github.ref }}"
          echo "${{ matrix }}"
      - name: Only on main
        if: github.ref == 'refs/heads/main'
        run: |
          echo "Deploying"
