# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  push:
    branches:
    tags: [ "v*" ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # Test the add-on
  build:
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 4
      matrix:
        # NOTE: When adding a new blender version also add the corresponding
        # python version below.
        blender-version: ["2.92", "2.93"]
        os: [ubuntu-latest, windows-latest]
        include:
        - blender-version: 2.92
          python-version: 37
        - blender-version: 2.93
          python-version: 39

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      # Show what's there
      - name: show data
        run: |
          echo "blender version: ${{ matrix.blender-version }}"
          echo "os: ${{ matrix.os }}"
          echo "python: ${{ matrix.python-version }}"
          echo "${{ github.ref }}"
      - name: Only on main
        if: github.ref == 'refs/heads/main'
        run: |
          echo "Deploying"
