# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  push:
    branches: [ '*' ]
    tags: [ "v*" ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # Test the add-on
  build:
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 4
      matrix:
        # NOTE: When adding a new blender version also add the corresponding
        # python version below.
        blender-version: ["2.92", "2.93"]
        os: [ubuntu-latest, windows-latest]
        include:
        - os: ubuntu-latest
          os_tag: Linux
        - os: windows-latest
          os_tag: Windows
        - blender-version: 2.92
          os: windows-latest
          python-version: 37/bin/python
        - blender-version: 2.93
          os: windows-latest
          python-version: 39/bin/python
        - blender-version: 2.92
          os: ubuntu-latest
          python-version: bin/python3.7m
        - blender-version: 2.93
          os: ubuntu-latest
          python-version: bin/python3.9


    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      # Show what's there
      - name: install packages
        shell: msys2 {0}
        run: |
          echo $0
          pacman -Ss rsync
          pacman -Ss zip
      - name: show data
        shell: bash
        run: |
          echo "blender version: ${{ matrix.blender-version }}"
          echo "os: ${{ matrix.os }}"
          echo "python: ${{ matrix.python-version }}"
          echo "os_tag: ${{ matrix.os_tag }}"
          echo "${{ github.ref }}"
          zip --help
          rsync --help
      - name: Only on main
        if: github.ref == 'refs/heads/main'
        run: |
          echo "Deploying"
